* {
    box-sizing: border-box;
}

body {
    padding-top: 75px;
    background: #ffffff;
}

a {
    color: #000000;
    text-decoration-line: none;
} 

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    height: 90px;
    padding: 1rem;
    color: rgb(0, 0, 0);
    background: rgb(255, 255, 255);
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 2px 2px 2px #e3e3e3;
    z-index: 1;
}

header > a {
    font-size: 20px;
    color: #000000;
}

.list-kind > a {
    font-size: 120px;
    margin-right: 15px;
    color: #000000;
}

/* 메뉴 */
nav:nth-child(2) {
    margin-right:10%;
}

nav:nth-child(2) > a, span {
    font-size: 20px;
    margin-right: 50px;
}
/* 검색 */
nav:nth-child(3) {
    width: 15%;
}
/* 회원가입 */
nav:nth-child(4) > a, span {
    font-size: 20px;
    margin-right: 15px;
    color: #FFFFFF;
}

.container {
    margin-top: 50px;
}

.fitness {
    width: 20px;
    margin:0px;
    padding: 0px;
}

.community {
    width: 30px;
}

.my-page {
    width: 30px;
    opacity: 100%;
    text-align: right;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.my-page:hover {
    background-color: #e7e7e7;
}
/*
.my-page > img:nth-child(1) {
    width:50px;
    height:50px;
    border-radius: 50px;
    border: 2px solid #000000;
    margin-right:10px;

}*/

.my-page > img:nth-child(1) {
    width:16px;
    height:16px;
}

.dropdown-content-fitness, .dropdown-content-community, .dropdown-content-mypage {
    display: none;
    position: absolute;
    right:30%;
    background-color: #f9f9f9;
    border-radius: 10px;
    min-width: 150px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-community {
    right:10%;
}

.dropdown-content-mypage {
    right:0%;
}

.dropdown-content-fitness > a, .dropdown-content-community > a, .dropdown-content-mypage > a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content-fitness > a:hover, .dropdown-content-community > a:hover, .dropdown-content-mypage > a:hover {
    color: black;
    background-color: #e3e3e3;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.button-style {
    display: flex;
    justify-content: space-around;
}

.button-style > :nth-child(2) {
    background-color: red;
    border-color: red;
}

.btn-form {
    border: 2px solid #000000;
    background-color: black;
    color: white;
    border-radius: 5px;
}
