{% extends './base.html' %}{% load static %}
{% block content %}

<div class="main-container">
    {% if request.user.is_authenticated %}
        <p>안녕하세요, {{ request.user.username }}님!</p>
        <h2>참여중인 그룹</h2>
        <ul>
            {% for group_name in group_names %}
            <li>{{ group_name }}</li>
            {% endfor %}
        </ul>
        <a href="/group/add_group">그룹 생성</a>
    {% else %}
        <a href="/user/login" class="btn">로그인</a>
        <a href="/user/signup" class="btn">회원가입</a>
    {% endif %}
</div>

{% endblock %}