<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>오늘의 운동 통계</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    {% include './header.html' %}

    <div class="container mt-5">
      <h1 class="mb-4 text-center">{{ user.username }}님의 오늘의 운동 통계</h1>
      <hr />
      <br />

      <h2 class="mb-4 text-center">운동 요약</h2>
      <div class="card mb-4">
        <div class="card-body">
          <h5 class="card-title text-center">오늘의 운동 요약</h5>
          <p class="card-text">
            오늘 소모된 총 칼로리: {{ total_calories }} kcal
          </p>
        </div>
      </div>

      <br />
      <hr />
      <br />

      <h2 class="mb-4 text-center">전체 운동 기록</h2>
      <div class="row">
        {% for exercise_set in today_exercise_sets %}
        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">{{ exercise_set.exercise.name }}</h5>
              <p class="card-text">
                <strong>세트 수:</strong> {{ exercise_set.set_number }}<br />
                <strong>반복 횟수:</strong>
                {{exercise_set.repetition_count}}<br />
              </p>
            </div>
          </div>
        </div>
        {% empty %}
        <p>오늘 기록된 운동이 없습니다.</p>
        {% endfor %}
      </div>

      <div class="d-flex justify-content-center mt-4 mb-4">
        <a href="/user/main" class="btn btn-dark">확인</a>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </body>
</html>
