<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>운동루틴</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .content-box {
            background-color: #f0f0f0;
            height: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #333;
            margin-bottom: 20px;
        }

        .action-buttons {
            display: flex;
            justify-content: center;
            gap: 10px;
        }
    </style>
</head>

<body>
    {% include './header.html' %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 mt-5">
                {% if exercise.name == "스쿼트" %}
                    {% include 'fitness/squat.html' %}
                {% else %}
                    <h2 class="text-center mb-4">{{ exercise.name }}</h2>
                    <div class="row"> <!-- 추가된 row 클래스 -->
                        <div class="col-md-6 content-box"> <!-- 각 content-box를 col-md-6 클래스로 감싸기 -->
                            <p>사진</p>
                            <p>{{ exercise.description }}</p>
                        </div>
                        <div class="col-md-6 content-box"> <!-- 각 content-box를 col-md-6 클래스로 감싸기 -->
                            <p>사진</p>
                            <p>{{ exercise.description }}</p>
                        </div>
                    </div>
                {% endif %}
                
                <div class="action-buttons">
                    <button type="button" class="btn btn-primary">세트 수</button>
                    <button type="button" class="btn btn-secondary">횟수</button>
                </div>
                {% if next_exercise %}
                    <form style="margin-top: 30px; text-align: center;" method="get" action="{% url 'fitness:doExercise_with_id' category_id=category_id exercise_id=next_exercise.id %}">
                        <button type="submit" class="btn-form" style="width:150px;height:50px;">Next Exercise</button>
                    </form>
                {% else %}
                    <div style="text-align: center; margin-top: 40px;">
                        <a href="{%url 'fitness:dailyStatistics' %}" class="btn btn-form">운동 끝내기</a>
                    </div>
        
                {% endif %}
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>