<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process Steps</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .step-card {
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
        }

        .arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            height: 50px;
        }
    </style>
</head>

<body>
    {% include './header.html' %}
    <div class="container py-5">
        <h2 class="text-center mb-4">{{request.user}} 님을 위한 운동루틴</h2>
        {% for exercise in exercises %}
            <h4 style="text-align: center; color: rgb(38, 51, 163) ;">{{exercise.name}}</h1>
        {% endfor %}
        <div style="text-align: center; margin-top: 30px;">
            <a href="{%url 'fitness:doExercise'%}" class="btn btn-form">운동 시작</a>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>