<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Process Steps</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <script>
        function loadHTML(file, elementId) {
            var xhr = new XMLHttpRequest();
            xhr.onreadystatechange = function() {
                if (xhr.readyState == 4 && xhr.status == 200) {
                    document.getElementById(elementId).innerHTML = xhr.responseText;
                }
            };
            xhr.open("GET", file, true);
            xhr.send();
        }

        document.addEventListener("DOMContentLoaded", function() {
            loadHTML("../header", "include-container");
        });
    </script>
    <style>
        .step-card {
            background-color: #f8f9fa;
            border: 1px solid #dee2e6;
            border-radius: 5px;
            padding: 20px;
            text-align: center;
        }

        .arrow {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 24px;
            height: 50px;
        }
    </style>
</head>

<body>
    <div id="include-container"></div>
    <div class="container py-5">
        <h2 class="text-center mb-4">{{request.user}} 님을 위한 운동루틴</h2>
        {% for exercise in exercises %}
            <h4>{{exercise.name}}</h1>
        {% endfor %}
        <a href="{%url 'fitness:doExercise_with_category' category_id=category.id %}" class="btn">운동 시작</a>
        {% comment %} <div class="row">
            <div class="col-md-3 step-card">팔굽혀펴기</div>
            <div class="col-md-1 arrow">&rarr;</div>
            <div class="col-md-2 step-card">턱걸이</div>
            <div class="col-md-1 arrow">&rarr;</div>
            <div class="col-md-2 step-card">스쿼트</div>
            <div class="col-md-1 arrow">&rarr;</div>
            <div class="col-md-2 step-card">윗몸일으키</div>
        </div>
        <div class="row mt-3">
            <div class="col-md-2 step-card">런지</div>
            <div class="col-md-1 arrow">&rarr;</div>
            <div class="col-md-2 step-card">딥스</div>
            <div class="col-md-1 arrow">&rarr;</div>
            <div class="col-md-2 step-card">레그레이즈</div>
            <div class="col-md-1 arrow">&rarr;</div>
            <div class="col-md-2 step-card">크런치</div>
        </div> {% endcomment %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>