<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>운동 목표 입력</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <style>
      .clickable-card {
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        cursor: pointer;
        transition: background-color 0.3s;
        margin: 10px;
      }

      .clickable-card:hover {
        background-color: #f8f9fa;
      }

      .title {
        font-size: 1.5em;
        margin-bottom: 0;
      }

      .description {
        font-size: 0.8em;
        margin-top: 5px;
      }
    </style>
  </head>

  <body>
    {% include './header.html' %}
    <div class="container mt-5">
      <h2 class="text-center mb-5">운동 목표가 어떻게 되나요?</h2>
      <div class="row">
        <form method="post" id="goalForm">
          {% csrf_token %}
          <input type="hidden" name="fitness_goal" id="fitnessGoalInput" />
          <div class="col-md-4">
            <div class="clickable-card" onclick="submitGoal('muscle_gain')">
              <div class="title">근성장</div>
              <div class="description">근육량을 증가시키고 싶어요</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="clickable-card" onclick="submitGoal('diet')">
              <div class="title">다이어트</div>
              <div class="description">체중을 감량하고 싶어요</div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="clickable-card" onclick="submitGoal('bulk_up')">
              <div class="title">벌크업</div>
              <div class="description">
                근육을 키우기 전 몸무게를 늘리고 싶어요
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <script>
      function submitGoal(goal) {
        document.getElementById("fitnessGoalInput").value = goal;
        document.getElementById("goalForm").submit();
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
