<html>
    <head>
        <title>HomeFit</title>
        <script>
            function loadHTML(file, elementId) {
                var xhr = new XMLHttpRequest();
                xhr.onreadystatechange = function() {
                    if (xhr.readyState == 4 && xhr.status == 200) {
                        document.getElementById(elementId).innerHTML = xhr.responseText;
                    }
                };
                xhr.open("GET", file, true);
                xhr.send();
            }
    
            document.addEventListener("DOMContentLoaded", function() {
                loadHTML("../header", "include-container");
            });
        </script>
    </head>
    <body>
        <div id="include-container"></div>
    </body>
</html>